.bg {
    &-light {
        background-color: $light-color;
    }
    &-dark {
        background-color: $secondary-color;
    }
}

.ml {
    &-2 {
        margin-left: 2rem;
    }
}

.checked {
    color: $primary-color;
}